footer {
    background-color: rgb(5, 5, 87);
    padding: 20px;
    text-align: center;
  }
  
  .footer {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .footer-div {
    padding: 10px;
  }
  
  .footer a {
    text-decoration: none;
    color: white;
  }
  
  .footer a:hover {
    color: rgb(162, 162, 248);
    transition: ease-in-out 0.5s;
  }
  